<!-- JavaScript Imports -->
<link href="../css/character-sheet/attributes/attributes.css" rel="stylesheet">

<div ng-controller="AttributeController">
	<div ng-repeat="title in titles">
		<div class="col-md-6 attributetitlebox attributetitle">
			{{title}}
		</div>
	</div>
	
	<table class="table table-hover">
		<tr ng-repeat="attributeName in attributesNames">
			<td class="rowsAttributes">
				<div>
					<div class="col-md-6">
						<div class="attributenamebox col-md-1">
							{{attributeName}}
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
