/rpg-project-core/.classpath
/rpg-project-core/.gitignore
/rpg-project-core/.project
/rpg-project-core/.settings/org.eclipse.jdt.core.prefs
/rpg-project-core/.settings/org.eclipse.m2e.core.prefs
/rpg-project-controller/.project
/rpg-project-controller/.classpath
/rpg-project-controller/.settings/org.eclipse.jdt.core.prefs
/rpg-project-controller/.settings/org.eclipse.m2e.core.prefs
/rpg-project-controller/.gitignore
/rpg-project-controller/.settings/.jsdtscope
/rpg-project-controller/.settings/org.eclipse.wst.common.component
/rpg-project-controller/.settings/org.eclipse.wst.common.project.facet.core.xml
/rpg-project-controller/.settings/org.eclipse.wst.jsdt.ui.superType.container
/rpg-project-controller/.settings/org.eclipse.wst.jsdt.ui.superType.name
/rpg-project-controller/.settings/org.eclipse.wst.validation.prefs
/rpg-project-view/.classpath
/rpg-project-view/.gitignore
/rpg-project-view/.project
/rpg-project-view/.settings/.jsdtscope
/rpg-project-view/.settings/org.eclipse.jdt.core.prefs
/rpg-project-view/.settings/org.eclipse.m2e.core.prefs
/rpg-project-view/.settings/org.eclipse.wst.common.component
/rpg-project-view/.settings/org.eclipse.wst.common.project.facet.core.xml
/rpg-project-view/.settings/org.eclipse.wst.jsdt.ui.superType.container
/rpg-project-view/.settings/org.eclipse.wst.jsdt.ui.superType.name
/rpg-project-view/.settings/org.eclipse.wst.validation.prefs
/rpg-project-controller/.settings/org.eclipse.core.resources.prefs
/rpg-project-core/.checkstyle
/rpg-project-core/.settings/org.eclipse.jdt.ui.prefs
/rpg-project-controller/.pmd
/rpg-project-core/.pmd
/rpg-project-view/.pmd
