.attributename {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid black;
}

.attributetitle {
	text-align: center;
	font-size: 80%;
	font-weight: bold;
}

.attributevalues {
	text-align: center;
	border: 1px solid black;
}

.attributebox {
	padding-top: 5px;
}

.attributespacer {
	padding-right: 0px;
}