.attributetitle {
	text-align: center;
	font-weight: bold;
	display: inline-block;
    padding: 0px;
}

.attributetitlebox {
	padding-top: 5px;
	background-color: #F0F0F0;
}

.attributespacer {
	padding-right: 7px;
	padding-left: 7px;
}